#linechart {
	height: 300px;
	width: 500px;
	margin: 0 auto;
}

.overlay {
  fill: none;
  pointer-events: all;
}

text {
	font-size: 10px;
	font-family: sans-serif;
}

.legend-text {
	font-size: 11px;
}